.game {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #a8a8a8;
  border-radius: 20px;
}

.start-btn {
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 4px;
  border: none;
  background-color: #b87239;
  outline: none;
}